body {
    background: #FEF9E7;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.navbar {
    border-bottom: #F4D03F 7px solid;
    opacity: 0.9;
}

#main-nav .nav-link {
    color: #5AF;
    a:hover {
        background-color: #fff;
}

#home-section {
    background: url(/images/charlie-green-idsA7c7PRxw-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 700px;
    color: #F4D03F;
    opacity: 0.9;
}

 .fab {
    color: #e34c26;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
}

.d-flex {
    display: flex;
    flex-direction: columns;
    align-content: left;
    justify-content: left;
    padding: 5px;
}
        
#home-section .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 700px;
    background: rgba(0,0,0,0.7);
}

#home-section .home-inner {
    text-color: #FEF9E7;
    padding-top: 100px;
}

#projects-head-section {
    background-color: #D6EAF8;
    color: #000;
}

#projects-section .card-columns {
    display: flex;
    flex-direction: columns;
    align-content: center;
    justify-content: center;
    
      border: 3px solid #000;
}

  #contact-head-section {
      background-color: #D6EAF8;
      color: #000;
}
  
#contact-head-section .fab fa-css3 {
    color: #2965f1;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
}
    
#contact-head-section .fab fa-js-square {
    color: #f0db4f;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
}

#contact-section img{
    border: 10px solid #FEF9E7;
}

#contact-section .fas {
    color: #008ed6;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
}

#main-footer {
    border-top: #F4D03F 7px solid;
}
