@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #FEF9E7;
    color: #000;
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 18px;
}

body, 
input,
textarea {
font-family: "Poppins", sans-serif;
}
    
.navbar {
    margin-top: 0px;
    margin-bottom: 0px;
    border-bottom: #F4D03F 7px solid;
    opacity: 0.9;
}

.nav-link {
    padding: 15px;
    font-size: 24px;
    letter-spacing: 4px;
    word-spacing: 20px;
    }
    
#main-nav .nav-link {
    color: #5AF;
}

    a:hover {
        background-color: #fff;
}

#home-section {
    background: url(/images/charlie-green-idsA7c7PRxw-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 700px;
    opacity: 0.9;
    text-color: #F4D03F; 
    }
    
     .fab {
         text-align: center;
         border-style: solid;
         background-color: #000;
         border-radius: 5px;
         width: 60px;
         padding-top: 5px;
         padding-bottom: 5px;
         margin: 15px 45px 45px 15px;
}
    
    .d-flex {
    display: flex;
    flex-direction: columns;
    align-content: left;
    justify-content: left;
    padding: 30px;
}
        
#home-section .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 700px;
    background: rgba(0,0,0,0.7);
}

#home-section .home-inner {
    color: #F4D03F;
    padding-top: 100px;
}

#home-section .home-inner h1 {
    color: #F4D03F;
    text-shadow: 1px 1px 1px #F0F0F0;
    font-size: 52px;
    padding-top: 100px;
}
    
/*
#home-section .btn {
    */

#projects-head-section h4{
    background-color: #FEF9E7;
    font-size: 56px;
    font-weight: normal;
    letter-spacing: 1px;
    color: #000;
    text-shadow: 2px 2px 2px #008ED6;
}

#projects-head-section {
    background-color: #FEF9E7;
    color: #000;
    font-weight: normal;
    word-spacing: 2px;
}

#projects-section .card-columns {
    background-color: #1c2e4a;
    font-size: 12px;
    display: flex;
    flex-direction: columns;
    align-content: center;
    justify-content: center;
    border: 5px solid #000;
}
      
    #projects-section {
        magin-top: 5px;
        background:  #fdf3cf;
    }
    
    .card-text .btn {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: #5AF;
    color: #5AF;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.btn:hover {background-color: #5AF}

.btn:active {
    background-color: #5AF;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#contact-section h4 {
    background-color: #FEF9E7;
    font-size: 56px;
    font-weight: normal;
    letter-spacing: 1px;
    word-spacing: 2px;
    color: #000;
    text-shadow: 2px 2px 2px #008ED6;
}

#contact-section {
    background-color: #FEF9E7;
    color: #000;
}

#contact-head-section h4{
   background-color: #FEF9E7;
    font-size: 56px;
    font-weight: normal;
    letter-spacing: 1px;
    word-spacing: 2px;
    color: #000;
    text-shadow: 2px 2px 2px #008ED6;
}


  #contact-head-section {
      background-color: #FEF9E7;
      color: #000;
      font-weight: normal;
}
    
#contact-head-section .container {
    color: #000;
    background: #FEF9E7;
    padding: 5px;
    border-radius: 5px;
}

    .social-links {
        display: flex;
        flex-direction: columns;
        align-items: center;
        justify-content: center;
        background-color: #fdf3cf;
         }
    /*
    @keyframes modalopen {
        from{opacity: 0}
        to {opacity: 1}
    }
        */
        
#contact-section img {
    border: 5px solid #008ED6;
}

#contact-section .fas {
    width: 60px;
    align-items: center;
    justify-content: center;
    color: #008ed6;
    background: #000;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
    border: 5px solid #008ED6;
    margin: 45px 45px 45px 45px;
}

    .fas {
        align-items: center;
        justify-content: center;
        padding: 30px;
        background-color: #fff;
        border-radius: #000 5px solid;
    }
    
    .container-box {
        position: relative;
        width: 100%;
        min-height: 100vh;
        padding: 16px;
        margin-top: 2px;
        background-color: #000;
        border-radius: 5px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .form {
        width: 100%;
        max-width: 820;
        background-color: #66BBE6;
        border-radius: 10px;
        box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        overflow: hidden;
        display: grid;
        grid-template-columns: repeat(2 1fr);
            }
       
    .contact-form {
        background-color: #B2DDF2;
        position: relative;
    }
    
    .circle {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background: linear-gradient(135deg, transparent 20%, #006395);
        position: absolute;
    }
        
    .circle.one {
        width: 130px;
        height: 130px;
        top: 130px;
        right: -30px;
    }
    
    .circle.two {
        width: 80px;
        height: 80px;
        top: 40px;
        right: 30px;
    }
    
    .contact-form:before {
        content: "";
        position: absolute;
        width: 26px;
        height: 26px;
        background-color: #66BBE6;
        transform: rotate(45deg);
        top: 50px;
        left: -13px;
    }
    
    form {
        padding: 35px 32px;
        z-index: 10px;
        overflow: hidden;
        position: relative;
    }
    
    .title {
        color: #000;
        font-weight: 500;
        font-size: 24px;
        line-height: 1;
        margin-bottom: 10px;
    }
    
    .input-container {
        position: relative;
        margin: 16px 0  ;
    }

    .input {
        width: 100%;
        outline: none;
        border: 2px solid #FAFAFA;
        background: none;
        padding: 10px 18px;
        color: #000;
        font-weight: 500;
        font-size: 15px;
        letter-spacing: 0.5px;
        border-radius: 25px;
        transition: 0.3s;
    }
    
    .textarea.input {
        padding: 14px 18px;
        min-height: 150px;
        border-radius: 22px;
        resize: none;
        overflow-y: auto;
    }
    
   .input-container label {
       position: absolute;
       top: 50%;
       left: 15px;
       transform: translateY(-50%);
       padding: 0 7px;
       color: #000;
       font-size: 15px;
       font-weight: 400;
       pointer-events: none;
       z-index: 1000;
       transition: 0.5s;
    }
    
 .input-container.textarea label {
     top: 16px;
     transform: translateY(0);
    }
        
    .btn-contact {
        padding: 10px 20px;
        background-color: #fff;
        border: 2px solid #FAFAFA;
        font-size: 15px;
        color: #000;
        line-height: 1;
        border-radius: 25px;
        outline: none;
        cursor: pointer;
        transition: 0.3s;
        margin: 0;
    }
    
    .btn-contact:hover {
        background-color: transparent;
        color: #fff;
    }
    
    .input-container span {
        position: absolute;
        top: 0;
        left: 25px;
        transform: translateY(-50%);
        font-size: 0.8;
        padding: 0 7px;
        color: transparent;
        pointer-events: none;
        z-index: 500;
    }
        
   .input-container span:before,
   .input-container span:after {
       content: "";
       position: absolute;
       width: 50%;
  /*     opacity: 0;
       transition: 0.3s; */
       height: 5px;
       background-color: #66BBE6;
       top: 50%;
       transform: translateY(-50%);
    }
    
    .input-container span:before {
        left: 50%;
    }
    
    .input-container span:after {
        right: 50%;
    }
    
    .input-container.focus label {
        top: 0;
        transform: translateY(-50%);
        left: 25px;
        font-size: 14px;
    }
    
    .input-container.focus span:before,
    .input-container.focus span:after {
        width: 50%;
        opacity: 1;
}

.contact-info {
    padding: 36px 34px;
    position: relative;
}

.contact-info .title {
    color: #66BBE6;
}

.text {
    color: #333;
    margin: 24px 0 32px 0;
}

.information {
    display: flex;
    color: #555;
    margin: 10px 0;
    align-items: center;
    font-size: 15px;
    }

.icon { 
    width: 28px;
    margin-right: 12px;
   }
    
.social-media {
    padding: 32px 0 0 0;
}

.social-media p {
    color: #333;
}

.social-icons {
    display: flex;
    margin-top: 8px;
}

.social-icons a {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    background: linear-gradient(45deg, #66BBE6);
    color: #fff;
    text-align: center;
    line-height: 35px;
    margin-right: 8px;
    transition: 0,3s;
}

.social-icons a:hover {
    transform-scale: (1.05);
}

.contact-info:before {
    content: "";
    position: absolute;
    width: 110px;
    height: 100px;
    border: 22px solid #66BBE6;
    border-radius: 50%;
    bottom: -77px;
    right: 50px;
    opacity: 0.3;
}

.big-circle {
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    border: 3px solid #000;
    background: linear-gradient(to bottom, #B2DDF2, #006395);
    bottom: 50%;
    right: 50%;
    transform: translate(-40%, 38%);
        }

.big-circle:after {
    content: "";
    position: absolute;
    width: 360px;
    height: 360px;
    border: 2px solid #000;
    background-color: #FAFAFA;
    border-radius: 50%;
    top: calc(50%, - 180px);
    left: calc(50%, - 180px);
}

.square {
    position: absolute;
    height: 400;
    top: 50%;
    left: 50%;
    transfrom: translate(181%, 11%);
    opacity: 0.2;
}
    
@media (max-width: 850px) {
    .form {
        grid-template-columns: 1fr;
    }
    .contact-info:before {
        bottom: initial;
        top: -75px;
        right: 65px;
        transform: scale(0.95);
    }
    .contact-form: before {
        top: -13px;
        left: initial;
        right: 70px;
    }
    .square {
        transform: translate(140%, 43%);
        height: 350px;
}
    .big-circle {
        bottom: 75%;
        transform: scale(0.9) translate(-40%, 30%);
        right: 50%;
         }  
    .text {
        margin: 16px 0 24px 0;
}
    .social-media {
        padding: 24px 0 0 0;
    }
    }

@media (max-width: 480px) {
    .container {
        padding: 24px;
}
    .container-info:before {
        display: none;
        }
    .square, 
    big-circle { 
        display: none;
    }
     
    form,
    .contact-info {
        padding: 28px 26px;
    }
    .text, .information, .social-media p {
        font-size: 12px;
    }
    .title {
        font-size: 20px;
    }
    .social-icons a {
        width: 30px;
        height: 30px;
        line-height: 30px;
}
    .icon {
        width: 24px;
    }
    .input {
        padding: 7px 18px;
}
    .btn {
        padding: 7px 10px;
    }
}

#main-footer .container {
    outline: #F4D03F;
    border-top: #F4D03F 7px solid;
    color: #F4D03F;
}
