@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #FEF9E7;
    color: #000;
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 18px;
}

body, 
input,
textarea {
font-family: "Poppins", sans-serif;
}

.container-box {
    position: relative;
    width: 100;
    min-height: 100vh;
    padding: 1rem;
    background-color: #F4D03F;
    overflow: hidden;
}

.form {
    width: 100;
    max-width: 820;
    background-color: #FEF9EF;
    border-radius: 10px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.contact-form {
    background-color: #66BBE6;
    position: relative;
}

.circle {
    border-radius: 50%;
    background: linear-gradient (135deg, transparent 20%, #99D1EE);
    position: absolute;
}

.circle-one {
    width: 130px;
    height: 130px;
    top: 130px;
    right: -40px;
}

.circle-two {
    width: 80px;
    height: 80px;
    top: 10px;
    right: 30px;
}
    
.contact-form:before {
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    background-color: #66BBE6;
    transform: rotate(45deg);
    top: 50px;
    left: -13px;
}
    
  form {
      padding: 2.3rem 2.2rem;
      z-index: 10;
      overflow: hidden;
      position: relative;
}

.title {
    color: #fff;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 0.7rem;
}

.input-container {
    position: relative;
    margin: 1rem 0;
}

.input {
    width: 100;
    outline: none;
    border: 2px solid #FAFAFA;
    background: none;
    padding: 0.6rem 1.2rem;
    color: #fff;
    font-weight: 500;
    font-size: 0.95rem;
    letter-spacing: 0.5px;
    border-radius: 25px;
    transition: 0.3s;
}

.textarea.input {
    padding: 0.8rem 1.2rem;
    min-height: 150px;
    border-radius: 22px;
    resize: none;
    overflow-y: auto;
}

.input-container label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    padding: 0 0.4rem;
    color: #FAFAFA;
    font-size: 0.9rem;
    font-weight: 400;
    pointer-events: none;
    z-index: 1000;
    transition: 0.5s;
}

.input-container.textarea label {
    top: 1rem;
    transform: translateY(0);
}

.btn-contact {
    padding: 0.6rem 1.3rem;
    background-color: #fff;
    border: 2px solid #FAFAFA;
    font-size: 0.95rem;
    color: #66BBE6;
    line-height: 1;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    margin: 0;
}

.btn-contact:hover {
    background-color: transparent;
    color: #fff;
}
    
    .input-container span {
        position: absolute;
        top: 0;
        left: 25px;
        transform: translateY(-50%);
        font-size: 0.8;
        padding: 0 0.4rem;
        color: transparent;
        pointer-events: none;
        z-index: 500;
        background-color: red;
}

.input-container span:before,
.input-container span:after {
    content: "";
    positin: absolute;
    width: 50%;
    opacity: 0;
    transition: 0.3s;
    height: 5px;
    background-color: #556b2f;
    top: 50%;
    transform: translateY(-50%);
}

.input-container span:before {
    left: 50%;
}

.input-container span:after {
    right: 50%;
}

.input-container focus label {
    top: 0;
    transform: translateY(-50%);
    left: 25px;
    font-size: 0.8rem;
}
    

.navbar {
    margin-top: 0px;
    margin-bottom: 0px;
    border-bottom: #F4D03F 7px solid;
    opacity: 0.9;
}

.nav-link {
    padding: 25px;
    font-size: 18px;
    letter-spacing: 2px;
    
}
    
#main-nav .nav-link {
    color: #5AF;
}

    a:hover {
        background-color: #fff;
}

#home-section {
    background: url(/images/charlie-green-idsA7c7PRxw-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 700px;
    opacity: 0.9;
    text-color: #F4D03F; 
}

     .fab {
         text-align: center;
         border-style: solid;
         background-color: #000;
         border-radius: 5px;
         width: 60px;
         padding-top: 5px;
         padding-bottom: 5px;
         margin: 25px 25px 25px 25px;
}
    
    .d-flex {
    display: flex;
    flex-direction: columns;
    align-content: left;
    justify-content: left;
    padding: 15px;
}
        
#home-section .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 700px;
    background: rgba(0,0,0,0.7);
}

#home-section .home-inner {
    color: #F4D03F;
    padding-top: 100px;
}

#home-section .home-inner h1 {
    color: #F4D03F;
    text-shadow: 1px 1px 1px #F0F0F0;
    font-size: 52px;
    padding-top: 100px;
}
    
/*
#home-section .btn {
    */

#projects-head-section {
    background-color: #FEF9E7;
    color: #000;
}

#projects-section .card-columns {
    background-color: #1c2e4a;
    font-size: 12px;
    display: flex;
    flex-direction: columns;
    align-content: center;
    justify-content: center;
    border: 5px solid #000;
}
      
    #project-section {
        magin-top: 5px;
        background:  #fdf3cf;
    }
    
    .card-text .btn {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: #5AF;
    color: #5AF;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.btn:hover {background-color: #5AF}

.btn:active {
    background-color: #5AF;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

  #contact-head-section {
      background-color: #FEF9E7;
      color: #000;
}
    
#contact-head-section .container {
    color: #000;
    background: #FEF9E7;
    padding: 5px;
    border-radius: 5px;
}

    .social-links {
        display: flex;
        flex-direction: columns;
        align-items: center;
        justify-content: center;
        background-color: #fdf3cf;
         }
    
    @keyframes modalopen {
        from{opacity: 0}
        to {opacity: 1}
    }
        
        
#contact-section img {
    border: 10px solid #FEF9E7;
}

#contact-section .fas {
    text-align: center;
    width: 60px;
    color: #008ed6;
    background: #000;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
    border: 3px solid #000;
    margin: 15px 45px 15px 45px;
}

    .fas {
        background-color: #fff;
        border-radius: #000 3px solid;
    }
    
#main-footer .container {
    outline: #F4D03F;
    border-top: #F4D03F 7px solid;
    color: #F4D03F;
}
